.type-1595 hr {
  width: 12%;
  background-color: #61ce70;
  height: 2px; }
.type-1595 a {
  text-decoration: none !important; }
.type-1595 .read-more {
  font-size: 12px;
  background-color: #61ce70;
  color: white; }
  .type-1595 .read-more i {
    font-size: 14px; }
.type-1595 .choose-us i {
  color: #61ce70; }
.type-1595 .Experience {
  color: #7a7a7a; }
  .type-1595 .Experience .progress {
    height: 11px;
    color: #61ce70; }
.type-1595 p {
  color: #7a7a7a; }
