.type-1749 hr {
  width: 12%;
  background-color: #23a455;
  height: 2px; }
.type-1749 a {
  text-decoration: none !important; }
.type-1749 .online {
  font-size: 20px;
  background-color: #23a455;
  color: white; }
  .type-1749 .online i {
    font-size: 14px; }
.type-1749 .fas i {
  color: #23a455;
  font-size: 20px; }
.type-1749 fas i {
  color: #23a455;
  font-size: 20px; }
.type-1749 .we h4 {
  color: #23a455; }
