.type-1595 hr {
  width: 12%;
  background-color: #23a455;
  height: 2px; }
.type-1595 a {
  text-decoration: none !important; }
.type-1595 .read-more {
  font-size: 12px;
  background-color: #23a455;
  color: white; }
  .type-1595 .read-more i {
    font-size: 14px; }
.type-1595 .choose-us i {
  color: #23a455; }
