$f-12:12px;
$f-14:14px;
$bg_color:#23a455;
$bg1_color:#7a7a7a;

.type-1804{
    // hr{
    //     width: 12%;
    //     background-color: $bg_color;
    //     height: 2px;
    //     float: left;
    // }
    .more{
        h3::before{
            position: absolute;
            content: "";
            background-color: #23a455;
            width: 125px;
            bottom: -19px;
            border-bottom: 3px solid #23a455;
        
        }
    }
    a{
        text-decoration: none !important;
    }
    .read-more{
        font-size: $f-12;
        background-color: $bg_color;
        color: white;
        // margin:7px;
        i{
            font-size: $f-14;
        }
    }
    .contact{
        font-size: $f-12;
        background-color: $bg_color;
        color: white;

        i{
            font-size: $f-14;
        }
    

    }
    // .story{
    //     margin-bottom: 40px;
    // }
    p{
        color: $bg1_color;
        strong{
            color: black;
        }
    }
   
   
  
    
}
